<!doctype html>
<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172327056-1"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172327056-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-172327056-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NFFZP78');</script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="About Hikeit Hawaii">


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/hikeithawaiilogo_favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/hikeithawaiilogo_favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/hikeithawaiilogo_favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/hikeithawaiilogo_favicon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/hikeithawaiilogo_favicon.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Sunrise/Sunset Icons -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">

    title>Hikeit Hawaii: About</title>

  </head>

  <body style="font-family: -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=UA-172327056-1"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="site-header"><strong>
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Hikeit Hawaii</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/oahu">Oahu</a>
              <a class="nav-item nav-link" href="/kauai">Kauai</a>
              <a class="nav-item nav-link" href="/maui">Maui</a>
              <a class="nav-item nav-link" href="/bigisland">Big Island</a>
              <a class="nav-item nav-link" href="/about">About</a>
            </div>
          </div>
        </div>
      </nav>
    </header></strong>

    <main role="main" class="mt-4" style="background-image: url('/static/waipiovalley_cropped2.jpg');">

      <section class="jumbotron text-center" style="background-image: url('/static/waipiovalley_cropped2.jpg');">
        <div class="container">
          <h1 class="jumbotron-heading"><center><img src="/static/hikeithawaiilogo.png"></h1>
          <p class="lead" style="color:white"><i><strong>{{ summary }}</strong></i></p>
          <div class="article-metadata"><center>

            <div class="container" style="min-height: 50px;"><center>
              <a href="https://www.facebook.com/hikeithawaii" class="fa fa-facebook"
              style="background-color:#3B5998; color:white; padding:8px; font-size:35px; width:50px; text-align:text-bottom; text-decoration:none; border-radius: 50%;";>
            </a>
            <a href="https://www.instagram.com/hikeithawaii/" class="fa fa-instagram"
              style="background-color:#d6249f; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); color:white; padding:8px; font-size:35px; width:50px; text-align:center; text-decoration:none; border-radius: 50%;";>
            </a>
            </div><br>

              <!-- Button group -->
              <div class="btn-group">
                <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose your Island...
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item nav-item nav-link" href="/oahu">Oahu</a>
                  <a class="dropdown-item nav-item nav-link" href="/kauai">Kauai</a>
                  <a class="dropdown-item nav-item nav-link" href="/maui">Maui</a>
                  <a class="dropdown-item nav-item nav-link" href="/bigisland">Big Island</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item nav-item nav-link" href="/about">About</a>
                </div>

              </div>
              <!-- End Button group -->
            </div>
        </div>
      </section>

      <h2 class="text-left ps-1 mb-1 text-white"; style="font-size:40px";><strong>{{ island }}</strong></h2>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="w-90 p-3" style="background-color:#E0F2F1; border: 5px solid #555;">

        <!-- Three columns of text below the carousel -->
        <div class="row">

        <!-- START THE FEATURETTES -->
        <div class="row featurette">
          <div class="col pt-4">
            <p class="lead text-center">&nbsp &nbsp Hikeit Hawaii provides weather forecasts tailored for hikers in Hawaii.
                         Our site utilizes past weather observations as well as automated forecasts
                         to predict what the weather conditions will be for each trail or area.
                         In addition, Hikeit Hawaii predicts the likelihood of how muddy the trails are
                         and how full waterfalls will be flowing (experimental).<br><br>

            &nbsp &nbsp <i>*Disclaimer: The conditions, estimates, observations, and forecasts provided by HikeIt Hawaii are for informational
            purposes only. Weather data collected from the National Weather Service could be outdated or inaccurate.
            Use caution and check all available resources before hiking. Under no circumstance are we, or any third party affiliates,
            liable for any loss or damage of any kind incurred as a result of the use of this site.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
          <p>
          </p>
          <!--
          <p> &copy; Hikeit Hawaii LLC</p>
          -->
          <p> Follow us on <a href="https://www.facebook.com/HikeitHawaii">Facebook</a> and <a href="https://www.instagram.com/hikeithawaii/">Instagram</a>.</p>
        </div>
      </footer>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
