<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172327056-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-172327056-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NFFZP78');</script>
    <!-- End Google Tag Manager -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/hikeithawaiilogo_favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/hikeithawaiilogo_favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/hikeithawaiilogo_favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/hikeithawaiilogo_favicon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/hikeithawaiilogo_favicon.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    {% if title %}
        <title>Hikeit Hawaii - {{ title }}</title>
    {% else %}
        <title>Hikeit Hawaii</title>
    {% endif %}
</head>
<body style="font-family:'Oswald', sans-serif;">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=UA-172327056-1"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Hikeit Hawaii</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/oahu">Oahu</a>
              <a class="nav-item nav-link" href="/kauai">Kauai</a>
              <a class="nav-item nav-link" href="/maui">Maui</a>
              <a class="nav-item nav-link" href="/bigisland">Big Island</a>
              <a class="nav-item nav-link" href="/about">About</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <br>
    <main class="container-fluid" style="background-image: url('/static/waipiovalley_cropped2.jpg');">
        <div class="container-fluid">
        <br>
        <br>
           <div class="container" style="min-height: 100px;"><center><img src="/static/hikeithawaiilogo.png"></div>
                <div class="container" style="min-height: 25px;">
                    <h5 style="color:white"><center>{{ summary }}<center></h5>
                </div><br>

                <div class="container" style="min-height: 50px;"><center>
                  <a href="https://www.facebook.com/hikeithawaii" class="fa fa-facebook"
                  style="background-color:#3B5998; color:white; padding:8px; font-size:35px; width:50px; text-align:text-bottom; text-decoration:none; border-radius: 50%;";>
                </a>
                <a href="https://www.instagram.com/hikeithawaii/" class="fa fa-instagram"
                  style="background-color:#d6249f; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); color:white; padding:8px; font-size:35px; width:50px; text-align:center; text-decoration:none; border-radius: 50%;";>
                </a>
                </div><br>

            <div class="article-metadata"><center>
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose your Island...
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item nav-item nav-link" href="/oahu">Oahu</a>
                  <a class="dropdown-item nav-item nav-link" href="/kauai">Kauai</a>
                  <a class="dropdown-item nav-item nav-link" href="/maui">Maui</a>
                  <a class="dropdown-item nav-item nav-link" href="/bigisland">Big Island</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item nav-item nav-link" href="/">Home</a>
                </div>
              </div>&nbsp

              <button class="btn btn-secondary dropdown-toggle" data-toggle="collapse" href="#legend" role="button" aria-expanded="false" aria-controls="homedata">
                Legend
              </button>
            </div>
            <div class="collapse" id="legend">
            <div class="alert alert-primary" role="alert" style="opacity:0.95">
            <h6 style="color:green"><i><strong>*Weather and Conditions Legend</strong></i></h6>
            <h4 style="color:green"><strong>Region Name</strong></h4>
                <div class="article-metadata">
                    <p style="color:darkblue">Current Weather Observation</p>
                    <a style="color:darkblue"><span style='font-size:30px;'>&#x26C5;</span>&nbsp<strong>Weather</strong></a>&nbsp
                    <a style="color:darkblue"><span style='font-size:30px;'>&#127777;</span>&nbsp<strong>Temperature</strong></a>
                    <p style="color:darkblue"><span style='font-size:30px;'>&#127788;</span>&nbsp<strong>Wind</strong></p>
                    <p>
                      <a class="btn btn-info dropdown-toggle" data-toggle="collapse" href="#example" role="button" aria-expanded="false" aria-controls="collapseExample">
                        3-Day Forecast
                      </a>
                    </p>
                    <div class="collapse" id="example">
                      <div class="alert alert-primary" role="alert" style="opacity:0.95">
                        <a style="color:darkblue"><b>Todays Weather Forecast</b></a>
                        <hr>
                        <a style="color:darkblue">Extended Weather Forecast</a>
                      </div>
                    </div>
                </div>
                    <div class="alert alert-primary" role="alert" style="opacity:0.95">
                    <h5 style="color:green"><i><strong>Trail & Waterfall Conditions</strong></i></h5>
                    <p>
                      <a class="btn btn-secondary dropdown-toggle" data-toggle="collapse" href="#subexample" role="button" aria-expanded="false" aria-controls="button">
                        Subregion Info
                      </a>
                    <div class="collapse" id="subexample">
                        <a><i>Subregion Trails and Waterfalls</i></a>

                        <p><span class="badge badge-pill badge-success">Check estimated Trail Muddiness</span></p>
                        Mostly Dry = <img src="/static/mostly-dry-icon.png" style="width:35px;height:30px;">&nbsp &nbsp</span></p>
                        Slightly Muddy = <img src="/static/slightly-muddy-icon.png" style="width:35px;height:30px;">&nbsp &nbsp</span></p>
                        Muddy = <img src="/static/muddy-icon.png" style="width:35px;height:30px;">&nbsp &nbsp</span></p>
                        Very Muddy = <img src="/static/very-muddy-icon.png" style="width:35px;height:30px;">&nbsp &nbsp</span></p>

                        <p><span class="badge badge-pill badge-primary">Check estimated Waterfall Flow Rate</span></p>
                        Weak-Trickle = <img src="/static/weak-trickle-icon.png" style="width:20px;height:35px;">&nbsp &nbsp</span></p>
                        Weak = <img src="/static/weak-icon.png" style="width:22px;height:37px;">&nbsp &nbsp</span></p>
                        Partial = <img src="/static/partial-icon.png" style="width:25px;height:40px;">&nbsp &nbsp</span></p>
                        Half = <img src="/static/half-icon.png" style="width:27px;height:42px;">&nbsp &nbsp</span></p>
                        Full = <img src="/static/full-icon.png" style="width:30px;height:45px;">&nbsp &nbsp</span></p>
                    </div>
                    </p>
                </div>
              </div>
            </div>
            <br><br>

            <div class="article-metadata">
                <h2 style="color:white"><strong>{{ island }}</strong></h2>
            </div>
        <div class="alert alert-primary" role="alert">
        <h5 style="color:green"><strong>{{ abouttitle }}</strong></h5>
            <div class="article-metadata">
                <p class="text-center" style="color:black">{{ aboutitle }}</p>
                <p class="text-center" style="color:black">{{ aboutus }}</p>
                <p class="text-center" style="color:black">{{ contact }}</p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="content-section">
                <p style="color:black">{{ disclaimertitle }}</p>
                <p style="color:black">{{ disclaimer }}</p>
            </div>
        </div><br><br>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
