<!doctype html>
<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172327056-1"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172327056-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-172327056-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NFFZP78');</script>
    <!-- End Google Tag Manager -->


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find out the latest hiking trail conditions for the Hawaiian Islands at Hikeit Hawaii. Lookup trail mud, waterfall flow estimates, and the latest hiking weather.">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/hikeithawaiilogo_favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/hikeithawaiilogo_favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/hikeithawaiilogo_favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/hikeithawaiilogo_favicon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/hikeithawaiilogo_favicon.png">
    <meta name="theme-color" content="#ffffff">


    <!-- Sunrise/Sunset Icons -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">

    <title>Hikeit Hawaii</title>

  </head>

  <body style="font-family: -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=UA-172327056-1"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="site-header"><strong>
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Hikeit Hawaii</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="/oahu">Oahu</a>
              <a class="nav-item nav-link" href="/kauai">Kauai</a>
              <a class="nav-item nav-link" href="/maui">Maui</a>
              <a class="nav-item nav-link" href="/bigisland">Big Island</a>
              <a class="nav-item nav-link" href="/about">About</a>
            </div>
          </div>
        </div>
      </nav>
    </header></strong>

    <main role="main" class="mt-4" style="background-image: url('/static/waipiovalley_cropped2.jpg');">

      <section class="jumbotron text-center" style="background-image: url('/static/waipiovalley_cropped2.jpg');">
        <div class="container">
          <h1 class="jumbotron-heading"><center><img src="/static/hikeithawaiilogo.png"></h1>
          <p class="lead" style="color:white"><i><strong>{{ summary }}</strong></i></p>
          <div class="article-metadata"><center>

            <div class="container" style="min-height: 50px;"><center>
              <a href="https://www.facebook.com/hikeithawaii" class="fa fa-facebook"
              style="background-color:#3B5998; color:white; padding:8px; font-size:35px; width:50px; text-align:text-bottom; text-decoration:none; border-radius: 50%;";>
            </a>
            <a href="https://www.instagram.com/hikeithawaii/" class="fa fa-instagram"
              style="background-color:#d6249f; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); color:white; padding:8px; font-size:35px; width:50px; text-align:center; text-decoration:none; border-radius: 50%;";>
            </a>
            </div><br>

              <!-- Button group -->
              <div class="btn-group">
                <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose your Island...
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item nav-item nav-link" href="/oahu">Oahu</a>
                  <a class="dropdown-item nav-item nav-link" href="/kauai">Kauai</a>
                  <a class="dropdown-item nav-item nav-link" href="/maui">Maui</a>
                  <a class="dropdown-item nav-item nav-link" href="/bigisland">Big Island</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item nav-item nav-link" href="/about">About</a>
                </div>

              </div>
              <!-- End Button group -->
            </div>
        </div>
      </section>

      <h2 class="text-left ps-1 mb-1 text-white"; style="font-size:40px";><strong>{{ island }}</strong></h2>

      <!-- Carousel Start -->

      <div id="myCarousel" class="carousel slide mb-2" data-ride="carousel" style="background-color:black; border: 5px solid #555;">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="first-slide img-fluid" src="/static/puumaelieli.jpg" alt="First slide; Responsive image;"; style="opacity:0.7; width:100%; min-height: 250px; max-height: 250px;">
            <div class="container">
              <div class="carousel-caption text-left" style="color:white">

                <div class="container ps-5">
                  <u>{{ 'Sunrise/Sunset: Honolulu' }}</u><br>
                  <div class="row">
                    <div class="col-sm">
                      <span style="text-align: center; font-size:30px; color:yellow;" class="iconify" data-icon="wi-sunrise" data-inline="false"></span>
                      <strong>{{ sunrise }}</strong>
                      <small><small> (Dawn: {{ dawn }}) </small></small>
                    </div>
                    <div class="col-sm">
                      <span style="text-align: center; font-size:33px; color:orange;" class="iconify" data-icon="wi-sunset" data-inline="false"></span>
                      <strong>{{ sunset }}</strong>
                      <small><small> (Dusk: {{ dusk }}) </small></small>
                    </div><hr>
                    <div class="col-sm">
                      <a style="color:white; font-size:35px;">
                      {% if moon_phase == 'New Moon' %}
                        <span>&#x1F311;</span>
                      {% elif moon_phase == 'Waxing Crescent' %}
                        <span>&#x1F312;</span>
                      {% elif moon_phase == 'First Quarter' %}
                        <span>&#x1F313;</span>
                      {% elif moon_phase == 'Waxing Gibbous' %}
                        <span>&#x1F314;</span>
                      {% elif moon_phase == 'Full Moon' %}
                        <span>&#x1F315;</span>
                      {% elif moon_phase == 'Waning Gibbous' %}
                        <span>&#x1F316;</span>
                      {% elif moon_phase == 'Last Quarter' %}
                        <span>&#x1F317;</span>
                      {% elif moon_phase == 'Waning Crescent' %}
                        <span>&#x1F318;</span>
                      {% endif %}
                    </a><small><a> &nbsp{{ moon_phase }}</small></a>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="first-slide img-fluid" src="/static/kolekole_dec_20.jpg" alt="Second slide; Responsive image"; style="opacity:0.7; width:100%; min-height: 250px; max-height: 250px;">
            <div class="container">
              <div class="carousel-caption text-top">
                <h4 class="alert-heading" style="font-size:18px;">NWS Watches/Warnings/Advisories</h4>
                <div class="p-3 mb-2 bg-danger text-white" style="font-size:10px;">
                  <ul style="list-style-type:none;">
                    <li>{{ wwa0 }}</li>
                    <li>{{ wwa1 }}</li>
                    <li>{{ wwa2 }}</li>
                    <li>{{ wwa3 }}</li>
                    <li>{{ wwa4 }}</li>
                  </ul>
                </div>
                <p><a class="btn btn-secondary" href="https://www.weather.gov/wwamap/wwatxtget.php?cwa=hfo&wwa=all" target="_blank" role="button">View details &raquo;</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="first-slide img-fluid" src="/static/kaena.jpg" alt="Third slide; Responsive image"; style="opacity:0.7; width:100%; min-height: 250px; max-height: 250px;">
            <div class="container">
              <div class="carousel-caption text-right"; style="font-size:.5vw;">
                <h5><span class="badge badge-pill badge-warning">{{ uvi }}</span></h5>
                <img src="/static/uvi_legend.png" width="280" height="30">
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>




      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing p-2" style="background-color:#E0F2F1; border: 5px solid #555;">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <h2>Today's Forecast</h2>
          <div class="col-lg-6">
            <h4>Kauai-Oahu-Molokai-Maui-Lanai</h4>
            <p>{{ all_island_fcst }}</p>
            <hr>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6">
            <h4>Big Island</h4>
            <p>{{ big_island_fcst }}</p>
            <hr>
          </div><!-- /.col-lg-4 -->


        <div class="row">

          <div class="col-lg-4">
            <img class="img-fluid" src="https://cdn.star.nesdis.noaa.gov/GOES17/ABI/SECTOR/hi/GEOCOLOR/GOES17-HI-GEOCOLOR-600x600.gif" alt="https://cdn.star.nesdis.noaa.gov/GOES17/ABI/SECTOR/hi/GEOCOLOR/GOES17-HI-GEOCOLOR-600x600.gif"; "Responsive image";>
            <h2 style="color:darkblue">Current Satellite</h2>
            <hr>

          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="img-fluid" src="https://radar.weather.gov/ridge/lite/HAWAII_loop.gif" alt="https://radar.weather.gov/ridge/lite/HAWAII_loop.gif"; "Responsive image";>
            <h2 style="color:darkblue">Current Radar</h2>
            <hr>

          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            {% if time == '11pm' %}
            <img class="img-fluid" src="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V0900.png" alt="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V0900.png"; "Responsive image";>
            {% elif time == '2am' %}
            <img class="img-fluid" src="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V1200.png" alt="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V1200.png"; "Responsive image";>
            {% elif time == '5am' %}
            <img class="img-fluid" src="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V1500.png" alt="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V1500.png"; "Responsive image";>
            {% elif time == '8am' %}
            <img class="img-fluid" src="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V1800.png" alt="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V1800.png"; "Responsive image";>
            {% elif time == '11am' %}
            <img class="img-fluid" src="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V2100.png" alt="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V2100.png"; "Responsive image";>
            {% elif time == '2pm' %}
            <img class="img-fluid" src="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V0000.png" alt="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V0000.png"; "Responsive image";>
            {% elif time == '5pm' %}
            <img class="img-fluid" src="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V0300.png" alt="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V0300.png"; "Responsive image";>
            {% elif time == '8pm' %}
            <img class="img-fluid" src="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V0600.png" alt="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V0600.png"; "Responsive image";>
            {% else %}
            <img class="img-fluid" src="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V1800.png" alt="https://www.weather.gov/images/hfo/graphics/RRA/RRA3_V1800.png"; "Responsive image";>
            {% endif %}

            <h2 style="color:darkblue">Past 3-Hour Rainfall</h2>
            <hr>

          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">

        <div class="row featurette">
            <h2 class="featurette-heading col-md">About our Mud and Waterfall Estimates</h2>
            <p class="lead">&nbsp &nbsp The Trail Conditions (Muddiness) and Waterfall Flow estimates provided by Hikeit Hawaii are
            based on observed rain reports throughout the state. These estimates are exclusive to Hikeit Hawaii.
            Accuracy of these estimates vary by location as some trails are closer to observation points than others. We are
            constantly monitoring and updating the estimate algorithms based on feedback from the community and our own
            explorations of trails to verify condition accuracy.<br><br>

            &nbsp &nbsp All weather observations and weather forecasts are generated by the National Weather Service Honolulu and
            are relayed to hikeithawaii.com to consolidate the hiking weather and conditions into one convenient place. <br><br>

            &nbsp &nbsp <i>*Disclaimer: The conditions, estimates, observations, and forecasts provided by HikeIt Hawaii are for informational
            purposes only. Weather data collected from the National Weather Service could be outdated or inaccurate.
            Use caution and check all available resources before hiking. Under no circumstance are we, or any third party affiliates,
            liable for any loss or damage of any kind incurred as a result of the use of this site.<br><br></p>

            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <img class="featurette-image img-fluid mx-auto" src="/static/121454605_154213926375053_2436843422690022055_o.jpg" alt="Lulumahu Falls" width="500" height="333">
                </div>
                <div class="col-sm">
                    <img class="featurette-image img-fluid mx-auto" src="/static/121459505_154213946375051_4977673962402696789_o.jpg" alt="Bamboo Forest" width="500" height="333">
                </div>
                <div class="col-sm">
                  <img class="featurette-image img-fluid mx-auto" src="/static/126095940_170906831372429_1541332815462716570_o.jpg" alt="Old Pali Rd" width="500" height="333">
                </div>
              </div>
            </div>

          </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Why Weather and Conditions matter </h2>
            <p class="lead">&nbsp &nbsp Hiking is one of the most popular activities in Hawai’i, and for good reason.
            The weather is ideal year round and there’s a lot of options when it comes to
            choosing what type of hike you’d like to do and the various scenic options you
            want to experience. Hawai’is scenic views, waterfalls, and plant life primarily
            stem from the unique and drastic contrast between mountain (Mauka) and ocean (Makai).
            The combination of tropical weather and volcanic terrain provide some of the best
            hiking experiences anywhere in the world. <br><br>

            &nbsp &nbsp The terrain in Hawai’i has a significant influence on the local weather as well
            as the effects of the weather. It creates micro climates, causing clouds and rain
            in certain areas (typically the windward and mountain regions) and drier climates
            in others (Leeward regions). The high elevation on some of the mountains can create
            freezing climates during winter months. <br><br>

            &nbsp &nbsp Combined, the terrain and rainfall can also lead to dangerous scenarios where hikers
            get lost, caught in flash floods, or even slip and fall off cliffs. Many of these incidents
            can be avoided by checking weather conditions before going and understanding what type of
            affect the weather conditions will have on trails. <br><br>

            &nbsp &nbsp Typical weather patterns for the majority of the lower lying terrain (3,000 ft and below)
            consist of scattered clouds and isolated rain showers, although thunderstorms (with lightning and hail),
            flash floods, and droughts are relatively common during their respective seasons. Less common weather
            impacts are from hurricanes and tornadoes/waterspouts. The summits of Mauna Loa, Mauna Kea,
            and Haleakala can experience blizzards and snow during winter months. <br><br>

            &nbsp &nbsp Hawai’is rainiest season is winter (October-April). The main source for rain annually is the
            trade winds (easterly winds) interacting with the terrain, but winter storms can greatly enhance
            overall annual rainfall. <br><br>

            &nbsp &nbsp Rainfall and terrain have a direct affect on how slippery the trails are and whether or not
            flash flooding is likely. While often sunny on the Leeward side of the island, the Windward
            side consistently experiences rain showers and clouds. Unless hikers check on the weather
            each day, it can be hard to know how the previous few days of weather will impact the hike
            they plan to do. Many may be under the impression that the weather has been nice and sunny
            with safe hiking conditions, then they get to the other side of the island to hike and the
            trails and muddy and slippery. <br><br>

            &nbsp &nbsp Just as checking the weather conditions will help you safely plan your hike, it can also be
            used to plan and arrive at a waterfall during peak flow instead of being let down by a weak
            trickle. <br><br>

            &nbsp &nbsp Hikeit Hawai’i was designed with hiking safety in mind. It is here to help you plan a safe
            trip and to find a flowing waterfall by tracking the weather to measure estimated trail muddiness and
            waterfall flow. It also provides current weather and a 3-Day forecast enabling hikers to plan
            before they go or a few days out. <br><br>

            &nbsp &nbsp The homepage shows general weather relevant to all Hawai’ian Islands, National Weather Service
            issued hazards, watches, warnings, and advisories (this is where flash flood information can be
            found), and a current satellite loop to show what type of weather is on its way. <br><br>

            &nbsp &nbsp Each island has its own unique climates, terrain, and weather patterns so it is important to
            research the trails you plan on doing well in advance. Check specific islands forecasts and conditions by
            navigating to your islands before you head out to find the latest weather impacts. <br><br>

            &nbsp &nbsp We are constantly checking posts through social media and various other sources to verify the accuracy of
            our information and appreciate any feedback! <br><br></p>
          </div>

          <div class="col-md-5 order-md-3">
            <img class="featurette-image img-fluid mx-auto" src="/static/120910902_152120759917703_3693150753604787668_o.jpg" alt="Lanikai Pillbox"><hr>
            <img class="featurette-image img-fluid mx-auto" src="/static/126954905_176526114143834_5609367763158552965_o.jpg" alt="Waimea Falls"><hr>
            <img class="featurette-image img-fluid mx-auto" src="/static/123051953_159886769141102_2803948014002083790_o.jpg" alt="Makapu'u">
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
          <p>
          </p>
          <!--
          <p> &copy; Hikeit Hawaii LLC</p>
          -->
          <p> Follow us on <a href="https://www.facebook.com/HikeitHawaii">Facebook</a> and <a href="https://www.instagram.com/hikeithawaii/">Instagram</a>.</p>
        </div>
      </footer>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
